@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
:root {
  --white: rgb(200, 200, 200);
  --gray: rgb(73, 72, 72);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-section {
  height: 100vh;
  width: 70%;
  background-image: url(../img/winter.jpg);
  background-size: cover;
  color: var(--white);
}
.content {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: -webkit-fill-available;
}
.weather-info {
  display: flex;
  align-items: center;
}
.info {
  padding-left: 60px;
  font-size: 24px;
}
.day {
  padding: 0 10px;
}
.temp span {
  font-size: 94px;
}
.more-info {
  display: flex;
}
.second-section {
  height: 100vh;
  width: 30%;
  background-image: linear-gradient(to bottom right, rgb(208, 167, 90), rgb(174, 81, 81));
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  color: var(--gray);
}

.site-info{
    padding: 100px 40px;
}
.input-box{
    display: flex;
    flex-direction: column;
}
.input-box label{
    font-size: 18px;
}
.input-box input{
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid var(--gray);
    padding: 5px 0;
    color: var(--gray);
    font-size: 18px;
    padding-right: 40px;
}
.search-icon{
    display: flex;
    justify-content: right;
}
.search-icon i{
    position: relative;
    bottom: 28px;
    cursor: pointer;
}
.weather-title{
    margin: 40px 0;
}
.weather-title span{
    font-size: 21px;
}