@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
}
:root{
    --white: rgb(200, 200, 200);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-section{
    height: 100vh;
    width: 70%;
    background-image: url(../img/winter.jpg);
    background-size: cover;
}
.content{
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: -webkit-fill-available;
}
.weather-info{
    display: flex;
    align-items: center;
}
.info{
    padding-left: 60px;
    font-size: 24px;
}
.day{
    padding: 0 10px;
}
.temp span{
    font-size: 94px;
}
.more-info{
    display: flex;
}
.second-section{
    height: 100vh;
    width: 30%;
    background-color: lawngreen;
}